<div class="header">
  <h1>Nomis</h1>
  <h3><Welcome to Nomis, the color-matching memory game!</h3>

  <a class="start" href="">Start!</a>
</div>
  
<div class="board">
  <div class="green"></div>
  <div class="red"></div>
  <div class="yellow"></div>
  <div class="blue"></div>
</div>
